.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.payment-card-wrapper{
  border: 1px solid #e1e1e1;
  padding: 10px 5px;
  margin-top: 30px;
  border-radius: 2px;
}
